.navbar {
  background-color: #800020 !important; /* Indigo */
}

.navbar a {
  color: #FFD700; /* Gold */
}

body {
  background-color: #FFF2D7;
}

.lightning-round {
  background-color: #007bff;
  transition: background-color 0.3s ease-in-out;
}

.grid-4x4 {
  grid-template-columns: repeat(4, 200px);
  gap: 18px;
}