{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-3">Birds</h1>

```
<p class="lead">
    Discover the incredible variety of bird species at Riget Zoo Adventures.
    From colorful tropical birds to majestic birds of prey, our aviaries
    offer a close-up look at some of nature’s most fascinating creatures.
</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Parrots & Macaws</h5>
                <p class="card-text">
                    Known for their intelligence and vibrant feathers,
                    our parrots and macaws are a favorite among visitors.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Birds of Prey</h5>
                <p class="card-text">
                    Observe eagles, hawks, and owls as they demonstrate
                    their incredible strength and sharp vision.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Water Birds</h5>
                <p class="card-text">
                    Flamingos, pelicans, and other water birds can be found
                    relaxing around our lakes and ponds.
                </p>
            </div>
        </div>
    </div>
</div>
```

</div>
{% endblock %}
